body {
  font-size: 16px;
  font-family: lato;
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin: 3rem;
  background-image: url('https://i.pinimg.com/564x/8c/11/35/8c113514a5a7885ac11e521b0c6545f1.jpg');
  background-size: cover;
}
h1 {
  font-size: 20px;
}
img {
  margin: 2rem;
  border-radius: 10px;
  max-height: 500px;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 
.profilePic img {
  border-radius: 100%;
  max-height: 200px;
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nameTag {
  margin: 4rem;
}
.Projects {
 font-size: 18px;
 margin: 3rem;
}
button {
  margin-left: 10px;
  margin-bottom: 22px;
  font-size: 18px;
  border: 4px;
  border-radius: 3rem;
  background-color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  transition: .2s;
  transform: ease-in-out;
  will-change: transform;
  z-index: 0;
  margin: 1rem;
  
}  
button:hover {
background-color: #eeefed;
border: 2px solid transparent;
transform: scale(1.05);
will-change: transform;
}

a:link{
  text-decoration: none!important;
} 
.aboutMe {
  font-family: lato, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin: 2rem;
  background-color:#eeefed;
  border-radius: 4px;
  padding: 20px; 
}
.projectsClass {
  background-color: #eeefed;
  border-radius: 2px;
  margin: 2rem;
  padding: 20px;
}
.Projects {
  border-radius: 2px;
  margin: 2rem;
}
.contactButtons {

  padding: 20px;
  border-radius: 9px;
}